# Environment files
.env
.env.*
!.env.example
backend/.env
frontend/.env
frontend/.env.*
!frontend/.env.example
docker-compose.yml

# Python
__pycache__/
*.py[cod]
backend/venv/
.venv/

# Frontend
frontend/node_modules/
frontend/dist/
